<% if @todo.errors.present? %>
  <ul>
    <% @todo.errors.each do |error, message| %>
    <li><%= "#{error.capitalize} #{message}" %></li>
    <% end %>
  </ul>
<% end %>

<div class="form container">
  <%= form_for @todo do |f| %>
    <div class="form-group">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :due_date, "Due-Date" %>
      <%= f.text_field :due_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :note, "Note" %>
      <%= f.text_area :note, class: "form-control" %>
    </div>

    <%= f.submit %>
</div>
<% end %>
