<h2>My To-Do-Lists</h2>
<table class="table table-striped table-condensed">
  <% @todos.each do |todo| %>
    <tr>
      <td><%= link_to todo_path(todo), method: :patch do %>
            <span class="glyphicon glyphicon-check"></span>
          <% end %>
      </td>
      <td><%= todo.title %></td>
      <td><%= link_to 'Show', todo_path(todo) %></td>
      <td><%= link_to edit_todo_path(todo) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
      </td>
      <td><%= link_to todo_path(todo), method: :delete, data: { confirm: "Are you sure?" } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add List', new_todo_path %>
